modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3000 BASE_PATH=/ pnpm --filter @workspace/fblite run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 90000

[[ports]]
localPort = 3000
externalPort = 4200

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 22245
externalPort = 3003

[[ports]]
localPort = 22853
externalPort = 3001

[[ports]]
localPort = 24265
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BPxZPxSeN1gfVwAO14Y0M8vd48FkLal9o5_dQXtff9F6a_cEnxxGTARm4k9t-d0x_QB29JzcdWg71MJODHOZvlQ"
CF_ACCOUNT_ID = "09e1ef3aa248da4402f2dd80e146d674"
APP_DATABASE_URL = "postgresql://postgres.siffrjlejdhycchozitd:hoV77BiQcpc3boAe@aws-0-eu-west-1.pooler.supabase.com:6543/postgres"
VAPID_PRIVATE_KEY = "1lPWziwtkR9V-zGIzEO835i_0x2b0vB0pDgw-Bc7_i4"
R2_BUCKET_NAME = "brutepawa"
R2_ACCESS_KEY_ID = "2a4cbf77ba277b9401720797c5b55ca7"
R2_SECRET_ACCESS_KEY = "830d29879d2b472842a8f3a2d96791815acbf55fe0b017104b2c2fc0ca9712f2"
R2_PUBLIC_URL = "https://pub-e3ba82fe52b2441d8e517d67591e7115.r2.dev"
CF_STREAM_TOKEN = "cfut_GbXjtqHexGdurQS73dPoDxruKW5qurnirkEKomr108aa69bd"
